<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
       <h3>Signup Page</h3> 
    </p>

    <form action="insert">
        Name:<input type="text" name="name" ><br>
        Email:<input type="text" name="email"><br>
        Pass:<input type="text" name="pass"><br>
        repass:<input type="text" name="repass"><br>
        <input type="submit" value="Signup">
    </form>
    {{name}}
</body>
</html>